.Section6{
    background-color: #d1d1d1;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;

    .AnimationZone{
        background-color: brown;
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .boxes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 1;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 60%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    .box{
        height: 100px;
        width: 100px;
        border:1px solid;
        flex: 0 49%;
    }
    .box1{ background-color: red;}
    .box2{ background-color: blue;}
    .box3{ background-color: green;}

    .Circle1{
        border:1px solid blue;
        border-radius: 100%;
        height: 0px;
        width: 0px;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;

    }
}